# Python & environment
__pycache__/
*.pyc
venv/
.env

# Windows system files
Desktop.ini
ntuser.*
AppData/
vmlogs/
Thumbs.db

# IDE / editor cache
.vscode/
.idlerc/
.bash_history
.lesshst
.rustup/

# Backup / other projects
Telegram_bots/
Sosial_t-lim-i/
quiz-frontend/
